<div class="sidebar_single_module">
        <div class="sidebar_wraper">
                <div class="sidebar_inner">
                        <div class="right_menu_area">
                                <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/index.html">Home</a></li>
                                        <li><a href="#">Archives</a></li>
                                        <li><a href="/author/nytoca">About</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
